body {
    font-family: "Arial", sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  /* Container principal */
  .container {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  h1 {
    font-size: 2rem;
    color: #0056b3;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .counter {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    background-color: #f9fafb;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 80px;
  }
  
  /* Botões */
  .buttons {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    margin-top: 20px; 
  }
  
  /* Estilos individuais dos botões */
  .buttons button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 30%; 
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }
  
  .buttons button:active {
    transform: scale(0.95);
  }
  
  /* Sugestões */
  .suggestion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: left;
    background: #f1f5f9;
    padding: 15px;
    border-radius: 5px;
    position: relative;
  }
  
  .suggestion-text {
    flex: 1;
  }
  
  .suggestion h2 {
    font-size: 1.5rem;
    color: #0056b3;
  }
  
  .suggestion p {
    font-size: 1rem;
    color: #444;
  }
  
  /* Botões - setas */
  .arrow {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.3s ease;
  }
  
  .arrow:hover {
    color: #0056b3;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .counter {
      font-size: 2.5rem;
    }
  
    .buttons button {
      padding: 8px 0px;
      font-size: 0.9rem;
    }
  
    .suggestion h2 {
      font-size: 1.3rem;
    }
  }
  